@model IEnumerable<ProjetoExercitoMVC.Models.Entity.Militar>

@{
    ViewData["Title"] = "Busca de Militar por período";
}
<h2> @ViewData["Title"]</h2>
<hr />


<div class="col-md-2">
    <form>
        <div class="form-group">
            <div class="form-group">
                <label for="dataInicio">Data Inicial</label>
                <input type="date" class="form-control" name="dataInicio" value=@ViewData["dataInicio"] />
            </div>
            <div class="form-group">
                <label for="dataFinal">Data Final</label>
                <input type="date" class="form-control" name="dataFinal" value=@ViewData["dataFinal"] />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </form>
</div>
<hr />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">Total de militares cadastrados neste período: @Model.Count()</h4>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr class="success">
                    <th>
                        @Html.DisplayNameFor(model => model.Graduacao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Companhia.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FuncaoExercida)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataIngresso)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Graduacao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Companhia.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FuncaoExercida)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataIngresso)
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
